:root {
  --primary: #2d3436;
  --accent: #0984e3;
  --bg: #f5f6fa;
  --text: #2d3436;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter' sana-serif;
}


body {
  background-color: var(--bg);
  color: var(--text);
  line-height: 1.6;
}
a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 20px;
}